@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$margin: 1em;
$padding: 1em;
$color1: #FFF; //white


@mixin flex_container($flex-direction, $align-items, $justify-content, $wrap) {
	display: flex;
	flex-direction: $flex-direction;
	align-items: $align-items;
	justify-content: $justify-content;
	flex-wrap: $wrap;
}


//main styles
body {
	color: $color1;
	font-family: ('Open Sans', 'Arial', sans-serif);
	padding: $padding;
}

h1 {
	font-family: ('Open Sans', 'Arial', sans-serif);
	font-size: 20px;
	text-align: center;
	padding: $padding;
}


.photoContainer {
	@include flex_container(column, center, center, nowrap);
	background: rgba(30, 30, 30, 0.6);
	z-index: 999;
	position: absolute; 
	top: 0; 
	left: 0;
	height: 100%;
	width: 100%;
}

#photoTitle {
		padding: $padding;
	}

#row {
	@include flex_container(row, center, space-between, nowrap);
	padding-top: $padding * 2;
}

#photoWrap {
	padding: $padding / 2;
	padding-bottom: 3px;
	background: $color1;
	box-shadow: 0 0 20px #222;
}

#previous, #next {
	font-size: 30px;
	margin: $padding * 2;
}

#previous::after{
  height: 100%;
  width: 50%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

#next::after{
  height: 100%;
  width: 50%;
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
}


//media queries
@media (max-width: 750px) {
	#photo {
		max-width: 400px;
	}

	#previous, #next {
		margin: $margin;
	}
}

@media (max-width: 550px) {
	#photo {
		max-width: 250px;
	}

	#previous, #next {
		margin: $margin * 0.5;
	}
}

@media (max-height: 670px) and (orientation: landscape) {
	#photo {
		max-height: 200px;
	}
}










